* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

body {
	text-align: center;
	background: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
	url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg');
	background-position: left top;
	background-size: cover;
	color: #fff;
}

input[type="number"],
input[type="text"],
input[type="submit"],
select,
textarea {
	width: 100%;
	padding: .8rem;
	border: none;
	border-radius: .4rem;
	font-size: 1.6rem;
}

input[type="radio"],
input[type="checkbox"] {
	transform: scale(1.2);
}

header {
	margin: 5rem auto;
}


h1 {
	font-size: 3.2rem;
	line-height: 1.2;
	font-weight: 400;
}

h3 {
	font-size: 1.8rem;
	font-weight: 200;
	font-style: italic;
	margin-top: 1rem;
}

p {
	font-size: 1.6rem;
	text-align: left;
	padding-bottom: .8rem;
}

span {
	font-weight: 200;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	background: rgb(35, 35, 68);
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 6rem 4rem;
	border-radius: .8rem;
}



.btn {
	background: #37af65;
	color: #fff;
	font-size: 1.6rem;
	cursor: pointer;
	transition: all .3s ease;
}
.input-block {
	width: 100%;
	flex: 1 1 8rem;
}

.form-group {
	margin-bottom: 3rem;
}

label {
	display: flex;
	padding: .4rem 0;
	font-size: 1.6rem;
}

.msg-label {
	padding-bottom: .8rem;
}

.desc {
	padding-left: .8rem;
}

.btn:hover {
	background: #388E44;
}
